<a href="https://colab.research.google.com/github/Athukorale/MachineLearning/blob/main/MachineLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('Adult data.csv')

In [5]:
df.columns

Index(['Age', 'Workclass', 'Fnlwgt', 'Education', 'Education-num',
       'Marital-status', 'Occupation', 'Relationship', 'Race', 'Sex',
       'Capital-gain', 'Capital-loss', 'Hours-per-week', 'Native-country',
       'Income'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32561 non-null  int64
 1   Workclass       32561 non-null  object
 2   Fnlwgt          32561 non-null  int64
 3   Education       32561 non-null  object
 4   Education-num   32561 non-null  int64
 5   Marital-status  32561 non-null  object
 6   Occupation      32561 non-null  object
 7   Relationship    32561 non-null  object
 8   Race            32561 non-null  object
 9   Sex             32561 non-null  object
 10  Capital-gain    32561 non-null  int64
 11  Capital-loss    32561 non-null  int64
 12  Hours-per-week  32561 non-null  int64
 13  Native-country  32561 non-null  object
 14  Income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
df.head(10)

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [17]:
df.replace({'?': np.nan, ' ?': np.nan, '? ': np.nan, ' ? ': np.nan}, inplace=True)

# Find rows with missing values
MissingValues= df[df.isnull().any(axis=1)]

# Display the rows with missing values
print("Rows with missing values:")
print(MissingValues)

Rows with missing values:
       Age Workclass  Fnlwgt      Education  Education-num  \
14      40   Private  121772      Assoc-voc             11
27      54       NaN  180211   Some-college             10
38      31   Private   84154   Some-college             10
51      18   Private  226956        HS-grad              9
61      32       NaN  293936        7th-8th              4
...    ...       ...     ...            ...            ...
32530   35       NaN  320084      Bachelors             13
32531   30       NaN   33811      Bachelors             13
32539   71       NaN  287372      Doctorate             16
32541   41       NaN  202822        HS-grad              9
32542   72       NaN  129912        HS-grad              9

               Marital-status      Occupation    Relationship  \
14         Married-civ-spouse    Craft-repair         Husband
27         Married-civ-spouse             NaN         Husband
38         Married-civ-spouse           Sales         Husband
51              Never-married   Other-service       Own-child
61      Married-spouse-absent             NaN   Not-in-family
...                       ...             ...             ...
32530      Married-civ-spouse             NaN            Wife
32531           Never-married             NaN   Not-in-family
32539      Married-civ-spouse             NaN         Husband
32541               Separated             NaN   Not-in-family
32542      Married-civ-spouse             NaN         Husband

                      Race      Sex  Capital-gain  Capital-loss  \
14      Asian-Pac-Islander     Male             0             0
27      Asian-Pac-Islander     Male             0             0
38                   White     Male             0             0
51                   White   Female             0             0
61                   White     Male             0             0
...                    ...      ...           ...           ...
32530                White   Female             0             0
32531   Asian-Pac-Islander   Female             0             0
32539                White     Male             0             0
32541                Black   Female             0             0
32542                White     Male             0             0

       Hours-per-week  Native-country  Income
14                 40             NaN    >50K
27                 60           South    >50K
38                 38             NaN    >50K
51                 30             NaN   <=50K
61                 40             NaN   <=50K
...               ...             ...     ...
32530              55   United-States    >50K
32531              99   United-States   <=50K
32539              10   United-States    >50K
32541              32   United-States   <=50K
32542              25   United-States   <=50K

[2399 rows x 15 columns]

In [18]:
# Count the number of NaN values in each column
NanColumns = df.isnull().sum()

# Display the count of NaN values in each column
print("Number of NaN values in each column:")
print(NanColumns)

Number of NaN values in each column:
Age                  0
Workclass         1836
Fnlwgt               0
Education            0
Education-num        0
Marital-status       0
Occupation        1843
Relationship         0
Race                 0
Sex                  0
Capital-gain         0
Capital-loss         0
Hours-per-week       0
Native-country     583
Income               0
dtype: int64

In [20]:
# Identify and remove duplicate rows
df_no_duplicates = df.drop_duplicates()

# Display the DataFrame after removing duplicates
print("DataFrame without duplicates:")
print(df_no_duplicates)

DataFrame without duplicates:
       Age          Workclass  Fnlwgt    Education  Education-num  \
0       39          State-gov   77516    Bachelors             13
1       50   Self-emp-not-inc   83311    Bachelors             13
2       38            Private  215646      HS-grad              9
3       53            Private  234721         11th              7
4       28            Private  338409    Bachelors             13
...    ...                ...     ...          ...            ...
32556   27            Private  257302   Assoc-acdm             12
32557   40            Private  154374      HS-grad              9
32558   58            Private  151910      HS-grad              9
32559   22            Private  201490      HS-grad              9
32560   52       Self-emp-inc  287927      HS-grad              9

            Marital-status          Occupation    Relationship    Race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           Sex  Capital-gain  Capital-loss  Hours-per-week  Native-country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       Income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32537 rows x 15 columns]

In [21]:
# Display the shape of the DataFrame before removing duplicates
print("Shape before removing duplicates:", df.shape)

# Remove duplicates from the original DataFrame
df.drop_duplicates(inplace=True)

# Display the shape of the DataFrame after removing duplicates
print("Shape after removing duplicates:", df.shape)

Shape before removing duplicates: (32561, 15)
Shape after removing duplicates: (32537, 15)

In [22]:
#replacing NaN values with the mode of respective columns
for column in df.columns:
    mode_value = df[column].mode()[0]
    df[column].fillna(mode_value, inplace=True)


print("DataFrame after replacing NaN with mode:")
print(df)

DataFrame after replacing NaN with mode:
       Age          Workclass  Fnlwgt    Education  Education-num  \
0       39          State-gov   77516    Bachelors             13
1       50   Self-emp-not-inc   83311    Bachelors             13
2       38            Private  215646      HS-grad              9
3       53            Private  234721         11th              7
4       28            Private  338409    Bachelors             13
...    ...                ...     ...          ...            ...
32556   27            Private  257302   Assoc-acdm             12
32557   40            Private  154374      HS-grad              9
32558   58            Private  151910      HS-grad              9
32559   22            Private  201490      HS-grad              9
32560   52       Self-emp-inc  287927      HS-grad              9

            Marital-status          Occupation    Relationship    Race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           Sex  Capital-gain  Capital-loss  Hours-per-week  Native-country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       Income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32537 rows x 15 columns]